h3{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    
       
}
H1{
    TEXT-DECORATION: GEEN WAVE UNDERLINE;
}


footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    margin-right: 200px;
    height: 200px;
    width: 100%;




}
body{
   background-image: url("https://freefiremobile-a.akamaihd.net/common/web_event/official2.ff.garena.all/img/20228/5c208e875e7f0bc2f5aa6f10758dc959.jpg");
   background-size: cover;
   
}
marquee{
    color: rgb(255, 255, 255);
    
    background-color: transparent;
}
h5{
    color: rgb(102, 3, 3);
    background-color: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
/
    
}

marquee{
    scrollamount: 25;
}
iframe{
    position: relative;
    object-fit: cover;
    width: 500px;
    height: 315px;


}
#navlink{
   text-decoration: none;
   color: #ffffff;

}
video{
    display:inline-block;
}
#rashmi{
    display:inline-block;
}
