h3{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    
       
}
H1{
    TEXT-DECORATION: GEEN WAVE UNDERLINE;
}
div{
    background: #000000;
    primary banner color: #e31a22;
    NAV LINK COLOR: #ffffff;
    HEIGHT: 200px;
    WIDTH: 100%;
    DISPLAY: FLEX;
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
}

footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    margin-right: 200px;
    height: 200px;
    width: 100%;

}
iframe{
    left: 10px;
    right: 10px;
    controls: autoplay;
}
video{
    bottom: 10px;
    right: 10px;
    controls: autoplay;

}
body{
   background-image: url('https://images.wallpapersden.com/image/download/garena-free-fire-x-money-heist_bGhmaGiUmZqaraWkpJRnamtlrWZlbWU.jpg');
   background-size: auto;
   background-attachment: movable;
}